.main {
  padding: 0 20px;

  &__title {
    margin-top: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }

  &__list {
    margin-top: 15px;
    padding-bottom: 15px;
    display: grid;
    justify-content: space-between;
    gap: 15px;
    justify-content: stretch;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:active {
    svg {
      transform: rotate(-5deg) scale(1.1);
      transition: all 100ms ease;
    }
  }

  .search__input {
    width: 100%;
    input {
      width: 100%;
      border-radius: 58px;
      border: 1.5px solid #be0201;
      background-color: inherit;
      padding: 15px 10px;
      padding-left: 20px;
      font-size: 14px;
      color: #a0a0a0;
      &:focus {
        outline: black;
      }
    }
  }

  .search_icon {
    color: #be0201;
    position: absolute;
    right: 20px;

    .search__icon__clear {
      margin-top: 3px;
      padding-right: 7px;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.marg_bot {
  margin-top: 30px;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;

  &__title {
    font-size: 20px;
  }
}
