.header {
  width: 100%;
  height: 100px;
  padding: 0 20px;

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      svg {
        width: 80px;
        height: 70px;
      }
    }
  }

  &__cart__icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;
      color: #e31e25;
    }
  }
  &__count {
    color: #e31e25;
    font-size: 15px;
  }
}
