.header {
  width: 100%;
  height: 100px;
  padding: 0 20px;

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      svg {
        width: 80px;
        height: 70px;
      }
    }
  }

  &__cart__wrapper {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    .header__cart {
      display: flex;
      align-items: center;

      &:active {
        transform: scale(1.1);
      }

      svg {
        width: 30px;
        height: 30px;
        color: #be0201;
        margin-left: 3px;
      }
    }
  }
}
